# Практическое задание

В этом практическом задании мы поработаем с алгоритмом линейной регрессии и нормализацией признаков. Для начала загрузите данные из файла `data.csv`, который содержит 100 признаков f1, f2, ..., f100 и целевую переменную target. Для загрузки данных используете функцию `read_csv` из библиотеки `pandas`. Выделите матрицу признаков и целевую переменную из загруженных данных.

### *РЕШЕНИЕ*

In [99]:
import numpy as np
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f92,f93,f94,f95,f96,f97,f98,f99,f100,target
0,-1.979019,0.392456,1.195177,0.209349,-1.209435,0.868798,0.384209,-0.426571,-0.977939,-1.419877,...,-1.587188,-0.612423,-0.281845,-0.625773,-0.907327,-0.800223,0.065892,0.271684,-0.201420,-45.587910
1,0.613518,0.051946,0.238789,-0.071601,-0.080717,1.727543,-0.483886,0.635172,0.038003,1.573987,...,0.059630,0.120031,0.399223,0.494030,0.197600,0.652323,0.916328,-1.556582,-0.370614,137.329473
2,0.444198,-0.535317,0.664927,-0.327017,1.935154,-1.776012,0.207803,0.126178,0.252569,0.889037,...,0.195482,1.384532,0.522251,-0.127655,-0.403076,-0.111509,-0.183150,0.977816,-1.171654,141.355900
3,-1.485186,-0.101987,0.817982,-0.846498,-0.660834,-0.073107,-0.247340,-0.775607,1.015937,-1.075737,...,0.753417,-0.403380,0.087974,-1.525572,2.404838,0.011863,0.994299,-2.152914,-0.213593,-65.882640
4,0.276582,-0.208468,0.185689,0.508608,-1.527168,-1.373403,-0.481766,-2.854627,1.868818,-1.179460,...,-0.985540,0.419706,-0.610858,0.209534,-0.538048,0.164295,-0.984655,-0.598438,-0.887770,-333.409221

In [100]:
df.shape

(125, 101)

Далее, разделите загруженный датасет на тренировочную и тестовую выборку. Для этого используйте функцию `train_test_split` из модуля `sklearn.model_selection` с параметрами `random_state=42` и `test_size=0.33`. Обучите линейную регрессию на тренировочных данных и оцените среднеквадратическую ошибку на тестовых данных. Один из вариантов линейной регрессии в `scikit-learn` представлен классом `Ridge` из `sklearn.linear_model`.
Используйте параметр `random_state=42` в конструкторе класса при создании его экземпляра. Оценку среднеквадратичной ошибки проведите с помощью функции `mean_squared_error` из модуля `sklearn.metrics`. В качестве ответа `answer1` приведите это значение округлённое с точностью до двух знаков.

### *РЕШЕНИЕ*

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [102]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)

In [103]:
clf = Ridge(random_state=42)

In [104]:
model = clf.fit(df_train.loc[:, 'f1':'f100'], df_train.target)

In [105]:
predicted = model.predict(df_test.loc[:, 'f1':'f100'])

In [106]:
answer1 = mean_squared_error(df_test.target, predicted)

Далее вам предлагается нормализовать данные используя `StandardScaler` из `sklearn.preprocessing`. По своей сути операция нормализации в данном случае представляет из себя вычитание среднего из матрицы признаков и деление на среднеквадратическое отклонение. После этого, повторите процесс разбиения выборки на тренировочную и тестовую с теми же самыми параметрами и обучите линейную регрессию. Как изменилось качество на тестовых данных? Приведите значение среднеквадратической ошибки в качестве ответа `answer2` округлённое с точностью до двух знаков.

In [116]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
ddf = df.loc[:, 'f1':'f100']

In [117]:
scaled_features = StandardScaler().fit_transform(ddf.values)

In [119]:
sf = pd.DataFrame(scaled_features, index=ddf.index, columns=ddf.columns)

In [122]:
sf['target'] = df['target']

In [129]:
sf.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f92,f93,f94,f95,f96,f97,f98,f99,f100,target
0,-2.014002,0.498215,1.228623,0.301818,-1.182191,0.722525,0.485510,-0.396947,-0.805139,-1.383074,...,-1.517387,-0.810769,-0.334850,-0.565957,-0.912196,-0.683435,0.062078,0.315477,-0.401658,-45.587910
1,0.659274,0.126015,0.307872,0.005771,-0.116166,1.495956,-0.374866,0.592723,0.154336,1.608608,...,0.084149,-0.018884,0.397813,0.544947,0.104836,0.800926,0.916787,-1.448179,-0.592167,137.329473
2,0.484682,-0.515900,0.718131,-0.263369,1.787733,-1.659533,0.310672,0.118281,0.356976,0.924157,...,0.216265,1.348217,0.530160,-0.071797,-0.448057,0.020364,-0.188215,0.996655,-1.494120,141.355900
3,-1.504790,-0.042243,0.865483,-0.810762,-0.664062,-0.125806,-0.140424,-0.722289,1.077916,-1.039184,...,0.758859,-0.584764,0.062985,-1.458606,2.136494,0.146438,0.995150,-2.023436,-0.415365,-65.882640
4,0.311845,-0.158634,0.256750,0.617157,-1.482275,-1.296922,-0.372765,-2.660181,1.883393,-1.142832,...,-0.932282,0.305106,-0.688787,0.262712,-0.572292,0.302209,-0.993747,-0.523895,-1.174472,-333.409221

In [123]:
sf_train, sf_test = train_test_split(sf, test_size=0.33, random_state=42)

In [124]:
clfs = Ridge(random_state=42)

In [125]:
models = clfs.fit(sf_train.loc[:, 'f1':'f100'], sf_train.target)

In [126]:
predicteds = models.predict(sf_test.loc[:, 'f1':'f100'])

In [127]:
answer2 = mean_squared_error(sf_test.target, predicteds)
answer2

4464.792465719157

## Строка с ответами

In [128]:
print('mse 1: {0:.2f}\nmse 2: {1:.2f}'.format(answer1, answer2))

mse 1: 4921.83
mse 2: 4464.79